.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 77px;
}

.logo img {
  height: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  column-gap: 75px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.icons button {
  background-color: #ffffff;
  border: none;
  font-size: 20px;
}

.hvr-link {
  position: relative;
}

.hvr-link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #000000;
  transition: all 0.5s ease-in-out;
}

.hvr-link:hover::before {
  right: auto;
  left: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
